.env
.go-bin/
.go-cache/
.go-tmp/
project/*.cover.out
project/*.cover.html

# Monitoring de Prometheus
project/monitoring/prometheus/

# Monitoring de Grafana
project/monitoring/grafana/

# AlertManager
project/monitoring/alertmanager/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
infra/backend.hcl
